# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Testing
coverage/
*.lcov

# Production
build/

# Cache
.cache/
.parcel-cache/

# Next.js
.next/

# Nuxt.js
.nuxt/
dist/

# Vuepress
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Environment variables
.env
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
